/* Headings (Filter by Title/Order ID)- #212121
Primary Text Color (Flipkart Support , Order OD121898535971680000) - #000000
Secondary Text Color (Start typing to search ) - #878787
ChatList Highlighted background and Single Chat View Background - #f1f3f6
ChatList  Divider Color- #f0f0f0
Flipkart Blue - #027CD5
OptionedMessage Background - #f5f5f5 */

:root {
  --title-heading: #212121;
  --primary-text: #000000;
  --secondary-text: #878787;
  --single-chat-view-bg: #f1f3f6;
  --chat-list-divider: #f0f0f0;
  --flipkart-primary-blue: #027CD5;
  --optioned-message-bg: #f5f5f5
}



.App {
  height: 100vh;
}